/* default styling practice */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 'Segoe UI',Tahoma,Verdana,sans-serif;
    line-height: 1.6;
    color: #333;
    background: white;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255,255,255,0.95);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
.navbar{
    padding: 1rem 0;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo h2{
    color: rgb(45, 92, 52);
    font-size: 1.6rem;
    font-weight: 700;
}
.nav-menu{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.nav-link{
    text-decoration: none;
    color: rgb(90, 90, 90);
    font-weight: 600;
    position: relative;
    transition: color 0.3 ease;
}
/* for turning the nav-link color to blue on hover */
.nav-link:hover{
    color: rgb(50, 177, 219);
}
/*for generating a blue line under the nav-links on hover */
 .nav-link::after{ 
    content:'';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(50, 177, 219);
    transition: width 0.3s ease;
}
.nav-link:hover::after{
    width: 100%;
}
.home{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 80px;
   /* adding animated gradient that makes the website look more attractive */
   
}